# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages for Data Science
- Use markdown for headings
- Use markdown for lists
- Run Python code in Jupyter Notebook
- Add comments to Python code

Some of the popular languages that Data Scientists use are:
1. Something
2. SQL
3. Julia
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy
3. Scikit learn
4. Tesorflow
5  Matplotlib

|Data Science Tools|
|------------------|
|Jupyter|
|RStudio|
|GIT|

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
(200 / 60)

3.3333333333333335

## Author
Robert Gaden